header{
  position: fixed;
outline: 1px solid orange;
top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: yellow;
}

body {
  font-family: helvetica;
}

.info-general {

  width: 1350px;
  height: 64px;
outline: 1px solid blue;

}

.menuprincipal{
  list-style: none;
  margin-top: 10px;
  padding: 0;
  overflow: auto;
  line-height: 54px;
  height: inherit;
outline: 1px solid yellow;


}

.menuprincipal .logo{

  width: 50px;
  height: 43px;
float: left;
margin-left: 10px;
margin-top: 10px;
background-image: url("../assets/images/logo.png");
}

.menuprincipal .search {
  border-radius: 6px;
  height: 43px;
  width: 500px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #efefef;
  float: left;
}

.menuprincipal .user , .menuprincipal .list , .menuprincipal .notifications {
outline: 1px solid black;
height: 43px;
width: 50px;
margin-left: 10px;
float: left;
margin-top: 10px;
}





nav {
border-top: 1px solid #efefef;
  height: 85px;

}

nav ul li {
  border: 1px solid black;
  border-radius: 6px;
  width: 85px;
  margin: 5px;
  text-align: center;
  float: left;
}

nav ul {
  list-style: none;
  margin: 11px;
  padding: 0;
  overflow: auto;
  line-height: 54px;
}

/*.imagenes {
  width: 1350px;
  outline: 1px solid green;

  position: absolute;
  top: 170px;
  left: 25px;
}*/
.imagen1{
  outline: 1px solid violet;
  width: 240px;
  height: 340px;
  background-image: url("../assets/images/imagen1.jpg");
  background-size: 240px 340px;
  border-radius:20px;
  position: relative;
  left: 16px;
  top: 170px;
}

.imagen2{
  outline: 1px solid violet;
  width: 282px;
  height: 761px;
  margin-left: 20px;
  background-image: url("../assets/images/imagen2.jpg");
  background-size: 282px 761px;
  border-radius:20px;
  position: relative;
  left: 260px;
  top: 170px;
}
